{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - Personal Portfolio</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <header>
        <h1>Contact Me</h1>
        <nav>
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'contact' %}">Contact</a>
            <a href="{% url 'about-me' %}">About Me</a>
            <a href="{% url 'blog_index' %}">Blogs</a>
            <a href="{% url 'projects' %}">Projects</a>
        </nav>
    </header>
    <main>
        <section>
            <p>You can reach out to me at:</p>
            <ul>
                <li>Email: <a href="mailto:iansandoval264@gmail.com">iansandoval264@gmail.com</a></li>
                <li>Phone: 09105341892</li>
            </ul>
        </section>
    </main>
    <footer>
        <p>© 2024 My Portfolio. All rights reserved.</p>
    </footer>
</body>

</html>